<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новости Epic Games</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="epic-theme">
  <div class="ui container main-container">
    <h1 class="ui header">Новости Epic Games</h1>

    <div class="back-button-container">
      <a href="../index.html">
        <button class="ui button back-button">Назад</button>
      </a>
    </div>

    <!-- Переходы на другие страницы -->
    <div class="menu-section">
      <a href="games">
        <button class="ui button">Игры</button>
      </a>
      <a href="top-games">
        <button class="ui button">Самые популярные игры</button>
      </a>
      <a href="news">
        <button class="ui button">Новости</button>
      </a>
    </div>

    <!-- Список элементов-ссылок -->
    <div class="ui link items">
      <% news.forEach(article => { %>
      <a class="item" href="<%= article.url %>">
        <div class="content">
          <div class="header"><%= article.title %></div>
          <div class="description">
            <p><%= article.short_description %></p>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    
  </div>
</body>
</html>