body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.platform-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.neutral-theme, .neutral-theme .ui.header {
  background-color:#2e352e;
  color: white;
}

.steam-theme, .steam-theme .ui.header {
  background-color: #1b2838;
  color: white;
}

.steam-theme .ui.button {
  background-color: #2185d0;
  color: white;
}

.steam-theme .ui.button:hover {
  background-color: #0cb3ff;
}

.steam-theme .ui.link.items .item{
  position: relative;
  background-color: #16202d;
  padding: 10px;
  text-align: left;
}

/* Стили для Epic Games */
.epic-theme, .epic-theme .ui.header {
  background-color: #1a1a1a;
  color: white;
}

.epic-theme .ui.button {
  background-color: #353539;
  color: white;
}

.epic-theme .ui.button:hover {
  background-color: #656567; 
}

.epic-theme .ui.link.items .item{
  position: relative;
  background-color: #232323;
  padding: 10px;
  text-align: left;
}

.ui.link.items .item .header, .ui.link.items .item .description{
  color: white;
}

.ui.very.basic.collapsing.celled.table {
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button {
  background-color: #f0f0f0;
  color: #333;
}

.favourite-button {
  background-color: #ff6f61;
  color: white;
}

.main-container {
  margin-top: 50px;
  text-align: center;
}

.menu-section {
  margin-top: 30px;
}

.menu-section .ui.button {
  margin: 10px;
  width: 200px;
  font-size: 16px;
}

.item {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-link {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.ui.tiny.image {
  flex-shrink: 0;
  margin-right: 10px;
}

.ui.tiny.image img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 5px;
  font-weight: bold;
}

.description {
  margin-top: 5px;
  color: #666;
}

.add-to-favourite {
  margin-left: 10px;
}