<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Самые популярные игры в Steam</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="steam-theme">
  <div class="ui container main-container">
    <h1 class="ui header">Самые популярные игры в Steam</h1>

    <div class="button-container">
      <a href="../index.html">
        <button class="ui button back-button">Назад</button>
      </a>
      <a href="/favourites/show">
        <button class="ui button favourite-button">Избранное</button>
      </a>
    </div>

    <div class="menu-section">
      <a href="games">
        <button class="ui button">Игры</button>
      </a>
      <a href="top-games">
        <button class="ui button">Самые популярные игры</button>
      </a>
      <a href="news">
        <button class="ui button">Новости</button>
      </a>
    </div>

    <div class="ui link items">
      <% topGames.forEach((topGame, index) => { %>
      <a class="item" href="games/<%= topGame.game_id %>">
        <div class="position">
          <p><%= topGame.position %></p>
        </div>
        <div class="ui tiny image">
          <img class="ui mini image" src="../res/game_thumbnail.png"></img>
        </div>
        <div class="content">
          <div class="header"><%= topGamesTitles[index].title %></div>
        </div>
      </a>
      <% }); %>
    </div>

  </div>
</body>
</html>