<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Избранное</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/remove-from-favourites.js"></script>
</head>
<body class="neutral-theme">
  <div class="ui container main-container">
    <h1 class="ui header">Избранное</h1>

    <div class="button-container">
      <a href="javascript:history.back()">
        <button class="ui button back-button">Назад</button>
      </a>
    </div>

    <div class="ui link items">
      <% favouriteGames.forEach(game => { %>
      <div class="item">
        <a href="games/<%= game.id %>" class="item-link">
          <div class="ui tiny image">
            <img class="ui mini image" src="../res/game_thumbnail.png"></img>
          </div>
          <div class="content">
            <div class="header"><%= game.title %></div>
          </div>
        </a>
        <button class="ui right floated icon button remove-from-favourite" data-game-id="<%= game.game_id %>" data-platform-id="<%= game.platform_id %>">
          <i class="trash icon"></i>
        </button>
      </div>
      <% }) %>
    </div>
    
  </div>
</body>
</html>
